:root {
  --primary-color: #757575;
  --title-color: rgba(33, 33, 33, 1);
  --accent-color: #2196f3;
  --primary-white-color: rgb(255, 255, 255);
  --primary-fw-title: 700;
  --bgc-our-team: rgba(245, 244, 250, 1);
  --bgc-secondary: rgba(47, 48, 58, 1);
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.socials, .socials__link, .modal-button, .filter, .checkbox__icon, .form-button, .contacts, .contacts__link, .features__box, .work__text, .clients__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199.98px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section--grey {
  background-color: var(--bgc-our-team);
}

@media screen and (max-width: 1199.98px) {
  .section--hidden {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .section--hidden {
    display: block;
    padding-top: 0px;
  }
}

.section__title {
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: var(--primary-fw-title);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

@media screen and (max-width: 1199.98px) {
  .section__title {
    font-size: 28px;
    line-height: 1.17;
  }
}

h1,
h2,
h3,
ul,
p {
  margin: 0px 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  color: var(--accent-color);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.16;
}

.logo__black {
  color: var(--title-color);
}

.logo--white {
  color: var(--primary-white-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header__logo {
    margin-right: 88px;
  }
}

@media screen and (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}

.footer-section__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.socials__item:not(:last-child) {
  margin-right: 10px;
}

.socials__link {
  width: 44px;
  height: 44px;
  background: #ffffff;
  border-radius: 50%;
  color: #afb1b8;
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.socials__link:hover, .socials__link:focus {
  background: var(--accent-color);
}

.socials__link--dark {
  background: rgba(255, 255, 255, 0.1);
  color: var(--primary-white-color);
  -webkit-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.socials__icon {
  fill: currentColor;
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.socials__link:hover .socials__icon,
.socials__link:focus .socials__icon {
  fill: white;
}

@media screen and (max-width: 767.98px) {
  .footer-socials {
    margin-bottom: 60px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), visibility 250ms var(--timing-function);
  z-index: 10;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  padding: 40px;
  width: 450px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  overflow-x: scroll;
  overflow-y: scroll;
  background-color: white;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition: -webkit-transform 250ms var(--timing-function);
  transition: -webkit-transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function);
  transition: transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
          transform: translate(-50%, -50%) scale(0.8);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-button__icon {
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.modal-button:hover .modal-button__icon,
.modal-button:focus .modal-button__icon {
  fill: var(--accent-color);
}

.filter {
  margin-bottom: 40px;
}

@media screen and (max-width: 767.98px) {
  .filter {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .filter {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .filter {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 767.98px) {
  .filter__item {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .filter__item:nth-last-child(-n + 2) {
    margin-bottom: 0px;
  }
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  padding: 8px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  color: var(--title-color);
  background: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  -webkit-transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function), box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.filter__button:hover, .filter__button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-form__input {
  width: 100%;
  height: 50px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  color: var(--primary-white-color);
}

@media screen and (min-width: 480px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0px;
  }
}

.footer-form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.modal-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .modal-title {
    line-height: 1.15;
    text-align: initial;
  }
}

.wrapper {
  position: relative;
}

.modal-form__form-button {
  margin-right: auto;
  margin-left: auto;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.modal-form__field {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form__label {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form__textarea {
  display: block;
  margin-bottom: 20px;
}

.modal-form__button-text {
  margin: 0;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
}

.modal-form__link {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form__policy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .modal-form__policy {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.modal-form__input {
  padding-left: 35px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.modal-form__input:focus {
  border-color: var(--accent-color);
}

.policy__label {
  margin-left: 7px;
  font-size: 12px;
  line-height: 1.16;
}

@media screen and (min-width: 1200px) {
  .policy__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.modal-form__input:focus ~ .modal-form__icon {
  fill: var(--accent-color);
}

.textarea__comment {
  display: block;
  width: 100%;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  -webkit-transition: border-color 250ms var(--timing-function);
  transition: border-color 250ms var(--timing-function);
}

.textarea__comment:focus {
  border-color: var(--accent-color);
}

.textarea__comment::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea__comment:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea__comment::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.textarea__comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox__icon {
  width: 16px;
  height: 15px;
  outline: 2px solid var(--title-color);
  outline-offset: -2px;
  border-radius: 2px;
}

.checkbox:checked + .checkbox__icon .checkbox__icon-check {
  opacity: 1;
}

.checkbox:checked + .checkbox__icon {
  outline: transparent;
}

.checkbox__icon-check {
  border: 2px solid var(--accent-color);
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 0;
}

.form-button {
  padding: 0;
  width: 200px;
  height: 50px;
  border: none;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
}

.button-text {
  margin-right: 10px;
  font-weight: var(--primary-fw-title);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: white;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button__icon-close {
  display: none;
  fill: var(--title-color);
}

.menu-button:hover .menu-button__icon-close,
.menu-button:focus .menu-button__icon-close {
  fill: var(--accent-color);
}

.menu-button.is-open .menu-button__icon-close {
  display: block;
}

.menu-button__icon-menu {
  display: block;
  fill: var(--title-color);
}

.menu-button:hover .menu-button__icon-menu,
.menu-button:focus .menu-button__icon-menu {
  fill: var(--accent-color);
}

.menu-button.is-open .menu-button__icon-menu {
  display: none;
}

.mobile-menu-container {
  display: none;
  position: fixed;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 796px;
  background-color: var(--primary-white-color);
  padding: 48px 40px;
  text-align: start;
  font-size: 20px;
  z-index: 1;
}

.mobile-menu-container.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-navigation {
  margin-bottom: auto;
}

.menu-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-navigation__link {
  font-size: 40px;
  font-weight: 500;
  color: var(--title-color);
  line-height: 1.17;
}

.menu-navigation__link:hover, .menu-navigation__link:focus {
  color: var(--accent-color);
}

.menu-navigation__link:last-child {
  margin-bottom: 0;
}

.menu-navigation__link--current {
  color: var(--accent-color);
}

.menu-contacts {
  margin-bottom: 64px;
}

.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__link {
  color: var(--primary-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
}

.menu-contacts__link--blue {
  color: var(--accent-color);
  font-size: 34px;
  line-height: 1.17;
}

.menu-socials__item {
  display: inline-block;
  margin-right: 10px;
}

.menu-socials__item:last-child {
  margin-right: 0;
}

.menu-socials__link {
  padding-right: 10px;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
  border-right: 1px solid #21212133;
}

.menu-socials__link--plain {
  border-right: none;
}

@media screen and (min-width: 480px) {
  .menu-socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.page-header {
  position: relative;
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .page-header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation__wrapper {
  display: none;
}

@media screen and (min-width: 768px) {
  .navigation__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .navigation-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .navigation-list {
    margin-right: 84px;
  }
}

.navigation-list__item {
  position: relative;
}

.navigation-list__item:not(:last-child) {
  margin-right: 50px;
}

.navigation-list__link {
  padding-top: 32px;
  padding-bottom: 32px;
  text-decoration: none;
  list-style: none;
  color: var(--title-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.navigation-list__link:hover, .navigation-list__link:focus {
  color: var(--accent-color);
}

.navigation-list__link--current {
  color: var(--accent-color);
}

.navigation-list__link--current::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -125%;
  left: 0;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .contacts {
    margin-left: 304px;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .contacts__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  color: var(--primary-color);
  font-weight: 500;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 1199.98px) {
  .contacts__link {
    font-size: 12px;
    line-height: 1.16;
  }
}

@media screen and (min-width: 1200px) {
  .contacts__link {
    font-size: 14px;
    line-height: 1.14;
  }
}

.hero {
  background-color: var(--bgc-secondary);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 767.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(#2f303a66), to(#2f303a66)), url(../images/hero/hero-mobile.png);
    background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/hero/hero-mobile.png);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-mobile@2.png), -webkit-gradient(linear, left top, right top, from(#2f303a66), to(#2f303a66));
    background-image: url(../images/hero/hero-mobile@2.png), linear-gradient(to right, #2f303a66, #2f303a66);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(#2f303a66), to(#2f303a66)), url(../images/hero/hero-tablet.png);
    background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/hero/hero-tablet.png);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-tablet@2.png), -webkit-gradient(linear, left top, right top, from(#2f303a66), to(#2f303a66));
    background-image: url(../images/hero/hero-tablet@2.png), linear-gradient(to right, #2f303a66, #2f303a66);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(#2f303a66), to(#2f303a66)), url(../images/hero/hero-desktop.png);
    background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/hero/hero-desktop.png);
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/hero/hero-desktop@2.png), -webkit-gradient(linear, left top, right top, from(#2f303a66), to(#2f303a66));
    background-image: url(../images/hero/hero-desktop@2.png), linear-gradient(to right, #2f303a66, #2f303a66);
  }
}

.hero__title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  margin-top: 0;
  margin-bottom: 30px;
}

@media screen and (max-width: 1199.98px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.61;
  }
}

.hero__button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 32px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-weight: var(--primary-fw-title);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 768px) {
  .features {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.features__text {
  color: var(--primary-color);
  margin-bottom: 0px;
  margin-top: 0px;
}

.features__box {
  height: 120px;
  margin-bottom: 30px;
  background: #f5f4fa;
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-color);
  text-transform: uppercase;
  font-weight: var(--primary-fw-title);
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: initial;
  }
}

.features__item {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .features__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 480px) {
  .features__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.work__item {
  position: relative;
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0px;
}

.work__text {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  left: 0;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
}

.cardset__title {
  color: var(--title-color);
  font-weight: var(--primary-fw-title);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.cardset__text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--primary-color);
}

@media screen and (min-width: 768px) {
  .team {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.team__item {
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background: #ffffff;
  text-align: center;
}

.team__photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.team__description {
  margin-bottom: 16px;
}

.team__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__title {
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team__item:last-child {
  margin-right: 0px;
}

@media screen and (max-width: 767.98px) {
  .team__item {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .team__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 8 * 15px) / 4);
        flex-basis: calc((100% - 8 * 15px) / 4);
  }
}

.clients {
  margin: -15px;
}

@media screen and (min-width: 480px) {
  .clients {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.clients__icon {
  fill: currentColor;
}

.clients__item {
  margin: 15px;
}

@media screen and (max-width: 767.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    -ms-flex-preferred-size: calc((100% - 12 * 15px) / 6);
        flex-basis: calc((100% - 12 * 15px) / 6);
  }
}

.clients__link {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);
}

.clients__link:hover, .clients__link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

.footer-section {
  background: var(--bgc-secondary);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-section__container {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: initial;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
}

.footer-title {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 20px;
  font-weight: var(--primary-fw-title);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

@media screen and (max-width: 767.98px) {
  .footer-address-container {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-address-container {
    margin-right: 70px;
  }
}

.footer__item {
  font-style: normal;
  margin-bottom: 8px;
}

.footer__item:last-child {
  margin-bottom: 0px;
}

.address-street-list {
  color: white;
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.address-street-list:hover, .address-street-list:focus {
  color: var(--accent-color);
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
}

.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-color);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 60px;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-section__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 93px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media screen and (min-width: 768px) {
  .cardset {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: -15px;
  }
}

.cardset__item {
  position: relative;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .cardset__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 4 * 15px) / 2);
        flex-basis: calc((100% - 4 * 15px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .cardset__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 15px;
    -ms-flex-preferred-size: calc((100% - 6 * 15px) / 3);
        flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.cardset__link {
  display: block;
  -webkit-transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: -webkit-box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function);
  transition: box-shadow 250ms var(--timing-function), -webkit-box-shadow 250ms var(--timing-function);
}

.cardset__link:hover, .cardset__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

@media screen and (min-width: 768px) {
  .cardset__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.cardset__overlay {
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  background-color: var(--accent-color);
  -webkit-transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function), -webkit-transform 250ms var(--timing-function);
}

@media screen and (max-width: 767.98px) {
  .cardset__overlay {
    padding: 77px 24px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .cardset__overlay {
    padding: 49px 24px 77px;
  }
}

@media screen and (min-width: 1200px) {
  .cardset__overlay {
    padding: 63px 24px;
  }
}

.cardset__link:hover .cardset__overlay,
.cardset__link:focus .cardset__overlay {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cardset__description {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.cardset__link:hover .cardset__description,
.cardset__link:focus .cardset__description {
  opacity: 1;
}

.portfolio-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.portfolio-image {
  position: relative;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */