.contacts {
  @extend %centeredFlex;

  &__icon {
    margin-right: 8px;
    fill: currentColor;
    @include mq(desktop) {
      margin-right: 10px;
    }
  }

  @include mq(tablet-only) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  @include mq(desktop) {
    margin-left: 304px;
  }
}

.contacts__item:not(:last-child) {
  @include mq(desktop) {
    margin-right: 30px;
  }

  @include mq(tablet-only) {
    margin-bottom: 10px;
  }
}

.contacts__link {
  @extend %centeredFlex;

  color: var(--primary-color);
  font-weight: 500;
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  @include mq(not-desktop) {
    font-size: 12px;
    line-height: 1.16;
  }

  @include mq(desktop) {
    font-size: 14px;
    line-height: 1.14;
  }
}
