.menu-button {
  position: absolute;
  top: -6px;
  right: 10px;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  z-index: 2;
  @include mq(tablet) {
    display: none;
  }
}

.menu-button__icon-close {
  display: none;
  fill: var(--title-color);

  .menu-button:hover &,
  .menu-button:focus & {
    fill: var(--accent-color);
  }
  .menu-button.is-open & {
    display: block;
  }
}

.menu-button__icon-menu {
  display: block;
  fill: var(--title-color);

  .menu-button:hover &,
  .menu-button:focus & {
    fill: var(--accent-color);
  }

  .menu-button.is-open & {
    display: none;
  }
}

.mobile-menu-container {
  display: none;
  position: fixed;
  flex-direction: column;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 796px;
  background-color: var(--primary-white-color);

  padding: 48px 40px;
  text-align: start;
  font-size: 20px;
  z-index: 1;

  &.is-open {
    display: flex;
  }
}

.menu-navigation {
  margin-bottom: auto;

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }
}

.menu-navigation__link {
  @include fonts(500, 40px, 1.17, null);
  color: var(--title-color);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.menu-navigation__link--current {
  color: var(--accent-color);
}

.menu-contacts {
  margin-bottom: 64px;
}
.menu-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.menu-contacts__link {
  color: var(--primary-color);

  @include fonts(500, 24px, 1.16, null);

  &--blue {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.17;
  }
}

.menu-socials__item {
  display: inline-block;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.menu-socials__link {
  padding-right: 10px;
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color);
  border-right: 1px solid #21212133;
}

.menu-socials__link--plain {
  border-right: none;
}
