body {
  background-color: var(--primary-white-color);
  color: var(--primary-color);
  font-family: 'Roboto', sans-serif;
  font-style: normal;

  @include fonts(null, 14px, 1.7, 0.03em);
}

.section {
  @include mq(not-desktop) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  padding-top: 94px;
  padding-bottom: 94px;

  &--grey {
    background-color: var(--bgc-our-team);
  }

  &--hidden {
    @include mq(not-desktop) {
      display: none;
    }

    @include mq(desktop) {
      display: block;
      padding-top: 0px;
    }
  }

  &__title {
    @include mq(not-desktop) {
      font-size: 28px;
      line-height: 1.17;
    }
    margin-bottom: 50px;
    color: var(--title-color);

    @include fonts(700, 36px, 1.16, null);

    text-align: center;
  }
}
