.clients {
  margin: -15px;

  @media screen and (min-width: 480px) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__icon {
    fill: currentColor;
  }

  &__item {
    margin: 15px;
    @include mq(mobile-only) {
      flex-basis: calc((100% - 4 * 15px) / 2);
    }

    @include mq(tablet-only) {
      flex-basis: calc((100% - 6 * 15px) / 3);
    }

    @include mq(desktop) {
      flex-basis: calc((100% - 12 * 15px) / 6);
    }
  }
}

.clients__link {
  @extend %centeredFlex;
  flex-wrap: wrap;

  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: color 250ms var(--timing-function), border 250ms var(--timing-function);

  &:hover,
  &:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
  }
}
