.features {
  @include mq(tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__text {
    color: var(--primary-color);
    margin-bottom: 0px;
    margin-top: 0px;
  }

  &__box {
    @extend %centeredFlex;
    height: 120px;
    margin-bottom: 30px;
    background: rgba(245, 244, 250, 1);
  }
}

.features__title {
  margin-bottom: 10px;
  color: var(--title-color);
  text-transform: uppercase;

  @include fonts(700, 14px, 1.5, null);
  text-align: center;

  @include mq(tablet) {
    text-align: initial;
  }
}

.features__item {
  flex-wrap: wrap;

  @include mq(tablet-only) {
    margin: 15px;
    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @include mq(mobile) {
    margin-bottom: 30px;
  }

  @include mq(desktop) {
    margin: 15px;
    flex-basis: calc((100% - 8 * 15px) / 4);
  }
}
