.footer-section {
  background: var(--bgc-secondary);
  padding-top: 60px;
  padding-bottom: 60px;

  &__container {
    text-align: center;
  }
}

.footer-section__container {
  @include mq(desktop) {
    display: flex;
    text-align: initial;
    align-items: baseline;
  }
}

.footer-title {
  display: inline-flex;
  margin-bottom: 20px;

  font-weight: var(--primary-fw-title);
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-address-container {
  @include mq(mobile-only) {
    flex-grow: 1;
    margin-bottom: 60px;
  }

  @include mq(desktop) {
    margin-right: 70px;
  }
}

.footer__item {
  font-style: normal;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0px;
  }
}

.address-street-list {
  color: rgba(255, 255, 255, 1);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--timing-function);

  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer-section__wrapper {
  margin-bottom: 60px;
  @include mq(tablet-only) {
    display: flex;
    margin-bottom: 60px;
    align-items: baseline;
    justify-content: space-around;
  }

  @include mq(desktop) {
    display: flex;
    margin-right: 93px;
    flex-grow: 1;
    margin-bottom: 0px;
  }
}
