.hero {
  background-color: var(--bgc-secondary);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;

  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include mq(mobile-only) {
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/hero/hero-mobile.png);
  }

  @include mq(retina) {
    background-image: url(../images/hero/hero-mobile@2.png),
      linear-gradient(to right, #2f303a66, #2f303a66);
  }

  @include mq(tablet-only) {
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/hero/hero-tablet.png);
  }

  @include mq(retina) {
    background-image: url(../images/hero/hero-tablet@2.png),
      linear-gradient(to right, #2f303a66, #2f303a66);
  }

  @include mq(desktop) {
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/hero/hero-desktop.png);
  }

  @include mq(retina) {
    background-image: url(../images/hero/hero-desktop@2.png),
      linear-gradient(to right, #2f303a66, #2f303a66);
  }

  &__title {
    @include mq(not-desktop) {
      font-size: 26px;
      line-height: 1.61;
    }
    color: var(--primary-white-color);

    @include fonts(900, 44px, 1.4, 0.06em);

    margin-top: 0;
    margin-bottom: 30px;
  }

  &__button {
    display: inline-block;
    min-width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 32px;

    color: var(--primary-white-color);
    background-color: var(--accent-color);

    cursor: pointer;

    @include fonts(700, 16px, 1.9, 0.06em);
  }
}
