.cardset {
  margin-top: 40px;
  @include mq(tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.cardset__item {
  position: relative;

  @include mq(mobile-only) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @include mq(tablet-only) {
    display: flex;
    margin: 15px;

    flex-basis: calc((100% - 4 * 15px) / 2);
  }

  @include mq(desktop) {
    display: flex;
    margin: 15px;

    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.cardset__link {
  display: block;
  transition: box-shadow 250ms var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  @include mq(tablet) {
    display: flex;
    flex-direction: column;
  }
}

.cardset__overlay {
  @include mq(mobile-only) {
    padding: 77px 24px;
  }

  @include mq(tablet-only) {
    padding: 49px 24px 77px;
  }

  @include mq(desktop) {
    padding: 63px 24px;
  }
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  opacity: 0;
  background-color: var(--accent-color);
  transition: opacity 250ms var(--timing-function), transform 250ms var(--timing-function);
  overflow: scroll;

  .cardset__link:hover &,
  .cardset__link:focus & {
    opacity: 1;
    transform: translateY(0);
  }
}
.cardset__description {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;

  .cardset__link:hover &,
  .cardset__link:focus & {
    opacity: 1;
  }
}

.portfolio-text {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  flex-grow: 1;
}

.portfolio-image {
  position: relative;
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}
